@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

* {
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}

a {
  text-decoration: underline;
  font-variant: small-caps;
}
